In [2]:
# Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [3]:
# Load the dataset
df = pd.read_csv('Dataset/cleaned_labelEncoded_adult.csv')

In [4]:
df.head(10)

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,5,77516,9,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,2,3,0,4,1,0,0,15,38,0
2,38,2,215646,5,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,3,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,2,9,5,2,0,0,0,40,4,0
5,37,2,284582,10,2,3,5,4,0,0,0,40,38,0
6,49,2,160187,1,3,7,1,2,0,0,0,16,22,0
7,52,4,209642,5,2,3,0,4,1,0,0,45,38,1
8,31,2,45781,10,4,9,1,4,0,8614,0,50,38,1
9,42,2,159449,9,2,3,0,4,1,5178,0,40,38,1